@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue !!!</h1>
    <p>Apprendre a propos <a href="https://azure.microsoft.com/services/devops/"> Azure DevOps</a>.</p>
</div>

